body {
  font-family: "Inter", sans-serif;
}

/* Shared style  */

:root {
  --gradient-color: linear-gradient(
    to right,
    #f7e93f 0%,
    #fb09b4 51%,
    #9100f8 100%
  );
}

/* Header */

.nav {
  align-items: center;
  background-color: #1a0b2e;
  padding: 16px;
}

.logo {
  color: white;
  font-weight: 900;
}

.logo span {
  background: var(--gradient-color);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.menu {
  gap: 32px;
}

.menu li {
  list-style: none;
}

.menu a {
  text-decoration: none;
  font-size: 16px;
  color: white;
}

.menu a:hover {
  font-weight: bold;
}

.primary-btn {
  background: var(--gradient-color);
  border: none;
  padding: 10px 16px;
  border-radius: 1000px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.4s;
}
.primary-btn:hover {
  font-size: 17px;
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-5deg);
  }
  75% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.btn-new {
  animation: wiggle 1.5s ease-in-out infinite;
  transition: 0.5s;
}

.btn-new:hover{
  
  padding: 6px 16px 6px 16px ;
  
}
